---
import { getCollection } from 'astro:content';
import formatDate from '@utils/formatDate.ts';
import Base from '@layouts/base.astro';

const articles = await getCollection('articles');
const sortedArticles = articles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base title="Articles" description="Description">
    <h2>Articles</h2>
    <dl>
        {sortedArticles.map((article) => {
            const date = formatDate(article.data.date);
            return (
                <dt><a href={`/articles/${date}-${article.id}/`}>{article.data.title}</a></dt>
                <dd>
                    {article.data.description}
                </dd>
            )
        })}
    </dl>
</Base>