---
import Base from '@layouts/base.astro';
import ContentList from '@components/ui/contentlist.astro';
---

<Base
  title="Articles"
  description="Cameron Otsuka's articles exploring Bitcoin, technology, monetary systems, and technical insights."
>
  <h2>Articles</h2>
  <ContentList collection="articles" />
</Base>
