---
import { getCollection } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Base from '@layouts/base.astro';

const reviews = await getCollection('reviews');
const sortedReviews = reviews.sort((a, b) => b.data.date - a.data.date);
---

<Base title="Reviews" description="Description">
    <h2>Reviews</h2>
    <dl>
        {sortedReviews.map((review) => {
            const date = formatDate(review.data.date);
            return (
                <dt><a href={`/reviews/${date}-${review.id}/`}>{review.data.title}</a></dt>
                <dd>
                    {review.data.description}
                </dd>
            )
        })}
    </dl>
</Base>