---
import { getCollection } from 'astro:content';
import Base from '@layouts/base.astro';
import RatingDistribution from '@components/ratingdistribution/component.astro';
import Rating from '@components/ui/rating.astro';
import sortByDate from '@utils/sortByDate.ts';
import generateContentUrl from '@utils/generateContentUrl';

const reviews = await getCollection('reviews');
const sortedReviews = sortByDate(reviews);
---

<Base title="Reviews" description="Cameron Otsuka's personal media reviews and ratings. Explore thoughtful critiques of media, ranging from classics to recent releases, with star ratings from 1 to 5.">
    <h2>Reviews</h2>
    <section>
        <h3>Rating Distribution</h3>
        <RatingDistribution />
    </section>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {sortedReviews.map((review) => (
                    <tr>
                        <td>{review.data.type}</td>
                        <td><a href={generateContentUrl(review)}>{review.data.title}</a></td>
                        <td><Rating rating={review.data.rating} /></td>
                    </tr>
                ))}
            </tbody>
        </table>
    </section>
</Base>

<style>
    table {
        width: 100%;
    }
    td:nth-child(2) {
        text-align: left;
    }
</style>