@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Public Sans Variable', sans-serif;
    --font-mono: 'Source Code Pro Variable', monospace;
}

@utility prose {
    blockquote {
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }
    }
    code {
        &::before,
        &::after {
            content: none;
        }
    }
}