/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
/* Specificity updates by Cameron */

:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(*:not(dialog)) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    interpolate-size: allow-keywords;
  }
}

:where(body) {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(p) {
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(#root, #__next) {
  isolation: isolate;
}
