:root {
  color-scheme: light dark;
}

@view-transition {
  navigation: auto;
}

html {
  background-color: light-dark(#e6e2d6, #000000);
  color: light-dark(#000000, #e6e2d6);
  font-family: "Source Serif 4 Variable", serif;
  font-kerning: normal;
  font-weight: 400;
  font-size: 100%;
  scrollbar-gutter: stable both-edges;
}
body {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Public Sans Variable", sans-serif;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: light-dark(#8b2942, #d4637a);
}
a:hover {
  text-decoration: underline;
}
dl, menu, ol, ul {
  margin-bottom: 0.5rem;
}
ul ul, ul ol, ul dl, ul menu,
ol ul, ol ol, ol dl, ol menu,
dl ul, dl ol, dl dl, dl menu,
menu ul, menu ol, menu dl, menu menu {
  /* nested lists won't have margins*/
  margin-bottom: 0;
}
img {
  height: auto;
  filter: grayscale(1);
  transition: all 0.2s linear;
}
img:hover {
  filter: grayscale(0);
  transition: all 0.4s linear;
}
dd {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}
blockquote {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 0.2rem solid;
}
table {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid;
  border-collapse: collapse;
}
th, td {
  border: 0.1rem solid light-dark(#000000, #e6e2d6);
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}
code {
  font-family: "Source Code Pro Variable", monospace;
  font-size: 0.9rem;
}
.astro-code, .astro-code span {
  font-family: "Source Code Pro Variable", monospace;
  margin-bottom: 1rem;
  padding: 0.1rem;
}
.footnotes {
  font-size: 0.9rem;
  border-top: 1px dashed light-dark(#000000, #e6e2d6);
  margin-top: 1rem;
  padding-top: 1rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}