---
import { getCollection } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Base from '@layouts/base.astro';

const roundups = await getCollection('roundups');
const sortedRoundups = roundups.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base title="Build Weekly Roundup" description="Description">
    <h2>Build Weekly Roundup</h2>
    <dl>
        {sortedRoundups.map((roundup) => {
            const date = formatDate(roundup.data.date);
            return (
                <dt><a href={`/build-weekly-roundup/${roundup.id}/`}>{roundup.data.title}</a></dt>
                <dd>
                    {roundup.data.description}
                </dd>
            )
        })}
    </dl>
</Base>