---
import Base from '@layouts/base.astro';
---

<Base title="Bitcoin" description="Cameron Otsuka's Bitcoin resources.">
    <h2>Bitcoin</h2>
    <object data="/public/bitcoin.pdf" type="application/pdf" height="890" />
</Base>

<style>
    object {
        width: 100%;
    }
</style>