---
import Base from '@layouts/base.astro';
---

<Base title="Bitcoin" description="Cameron Otsuka's Bitcoin resources.">
  <article data-pagefind-body data-pagefind-filter="category:page">
    <h2 data-pagefind-meta="title">Bitcoin</h2>
    <object data="/public/bitcoin.pdf" type="application/pdf" height="890">
      <p>
        Your browser doesn't support embedded PDFs.
        <a href="/public/bitcoin.pdf">Download the PDF</a> instead.
      </p>
    </object>
  </article>
</Base>

<style>
  object {
    width: 100%;
  }
</style>
