---
import { getCollection } from 'astro:content';
import { formatDate } from '@utils/format.ts';
import Base from '@layouts/base.astro';

const links = await getCollection('links');
const sortedLinks = links.sort((a, b) => b.data.date - a.data.date);
---

<Base title="Links" description="Description">
    <h2>Links</h2>
    <dl>
        {sortedLinks.map((link) => {
            const date = formatDate(link.data.date);
            return (
                <dt><a href={`/links/${date}-${link.id}/`}>{link.data.title}</a></dt>
                <dd class="mt-0">
                    {link.data.description}
                </dd>
            )
        })}
    </dl>
</Base>