@font-face {
	font-family: "Public Sans";
    font-style: normal;
    font-display: swap;
	src: url("/fonts/PublicSans-Regular.woff2") format("woff2");
	/* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
	font-family: "Public Sans";
    font-style: italic;
    font-display: swap;
	src: url("/fonts/PublicSans-Italic.woff2") format("woff2");
	/* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
	font-family: "Public Sans";
    font-weight: bold;
    font-display: swap;
	src: url("/fonts/PublicSans-Bold.woff2") format("woff2");
	/* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
	font-family: "Public Sans";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
	src: url("/fonts/PublicSans-BoldItalic.woff2") format("woff2");
	/* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}