@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/PublicSans-Thin.woff2") format("woff2")
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PublicSans-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PublicSans-Bold.woff2") format("woff2")
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/PublicSans-ThinItalic.woff2") format("woff2")
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PublicSans-Italic.woff2") format("woff2")
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PublicSans-BoldItalic.woff2") format("woff2")
}