html {
  background-color: #ffffff;
  color: #000000;
  font-family: "Public Sans", sans-serif;
  font-size: 100%;
  line-height: 1.1rem;
}
body {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
nav {
  margin-bottom: 1rem;
}
nav > h1 {
  font-size: 2rem;
  font-weight: bold;
}
nav > h1 > a {
  text-decoration: none;
}
nav > menu {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
nav > menu > li {
  display: inline;
  padding-right: 1rem;
}
details {
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
dl, menu, ol, ul {
  margin-bottom: 1rem;
}
ul ul, ul ol, ul dl, ul menu,
ol ul, ol ol, ol dl, ol menu,
dl ul, dl ol, dl dl, dl menu,
menu ul, menu ol, menu dl, menu menu {
  /* nested lists won't have margins*/
  margin-bottom: 0;
}
dd {
  margin-bottom: 0.2rem;
  padding-left: 1.5rem;
}
blockquote {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 0.2rem solid;
}
figure {
  margin-bottom: 1rem;
}
img {
  height: auto;
}
figcaption {
  font-style: italic;
}
table {
  margin-bottom: 1rem;
  border: 0.1rem solid;
  border-collapse: collapse;
}
th, td {
  border: 0.1rem solid;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}
object {
  width: 100%;
}
hr {
  margin-bottom: 1rem;
}
footer {
  text-align: center;
  font-style: italic;
}
footer > address > menu {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
footer > address > menu > li {
  display: inline;
  padding-right: 0.2rem;
}
.callout {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border-left: 0.2rem solid;
}
.callout-info {
  border-left: 0.2rem solid #086ddd;
}
.callout-info > .callout-label {
  color: #086ddd;
  font-weight: bold;
}
.callout-warn {
  border-left: 0.2rem solid #ec7500;
}
.callout-warn > .callout-label {
  color: #ec7500;
  font-weight: bold;
}
.callout-error {
  border-left: 0.2rem solid #e93147;
}
.callout-error > .callout-label {
  color: #e93147;
  font-weight: bold;
}
.collectiontag {
  font-variant: small-caps;
}