---
import { siteAuthor, socials } from '@utils/globals';
import { Icon } from 'astro-icon/components';

const currentYear = new Date().getFullYear();
---

<footer>
  <address>
    <menu class="inline-menu inline-menu--compact">
      {
        Object.entries(socials).map(([, social]) => (
          <li>
            <a href={social.url} rel="me">
              {social.title}
            </a>
          </li>
        ))
      }
    </menu>
  </address>
  <p>
    &copy; {currentYear}
    {siteAuthor.name}.{' '}
    <a href="/feed.xml" aria-label="RSS Feed"
      ><Icon name="mdi:rss" aria-hidden="true" /></a
    >
  </p>
  <p>
    All views my own. Not financial advice. Links, citations, and other
    references are not endorsements. Content is licensed under{' '}
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </p>
</footer>

<style>
  footer {
    text-align: center;
    border-top: 1px solid var(--color-text);
    margin-top: 1rem;
    padding-top: 1rem;
  }
  address {
    font-family: var(--font-sans);
  }
  [data-icon='mdi:rss'] {
    display: inline-block;
    vertical-align: middle;
  }
</style>
