---
import { siteAuthor, socials } from '@utils/globals.ts';

const currentYear = new Date().getFullYear();
---
<footer>
    <hr />
    <address>
        <menu>
            {Object.keys(socials).map((platform) => (
                <li><a href={socials[platform].url} rel="me">{socials[platform].title}</a></li>
            ))}
        </menu>
    </address>
    <p>
        &copy; {currentYear} {siteAuthor.name}.<br>
        All views my own. Not financial advice. Links, citations, and other references are not endorsements. Content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </p>
</footer>

<style>
    footer {
        text-align: center;
    }
    menu {
        margin-inline-start: 0;
        padding-inline-start: 0;
    }
    li {
        display: inline;
        padding-right: 0.5rem;
    }
    hr {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
</style>