---
import Navigation from '@components/navigation.astro';
---

<h1><a href="/">Cameron Otsuka</a></h1>
<Navigation />

<style>
  h1 a {
    color: var(--color-text);
  }
  h1 a:hover {
    text-decoration: none;
  }
</style>
