---
import Navigation from '@components/navigation.astro';
---
<a href="/"><h1>Cameron Otsuka</h1></a>
<Navigation />

<style>
    a {
        color: #000000;
    }
    a:hover {
        text-decoration: none;
    }
</style>