---
import { menuItems } from '@utils/globals';
---

<nav>
  <menu class="inline-menu">
    {
      menuItems.map((menuItem) => (
        <li>
          <a href={menuItem.url}>{menuItem.title}</a>
        </li>
      ))
    }
  </menu>
</nav>

<style>
  nav {
    font-family: var(--font-sans);
    margin-bottom: 1rem;
  }
  li {
    padding-right: 1rem;
  }
</style>
