---
import { menuItems } from '@utils/globals';
---

<h1 data-pagefind-ignore><a href="/">Cameron Otsuka</a></h1>
<nav>
  <menu class="inline-menu">
    {
      menuItems.map((menuItem) => (
        <li>
          <a href={menuItem.url}>{menuItem.title}</a>
        </li>
      ))
    }
  </menu>
</nav>

<style>
  h1 a {
    color: var(--color-text);
  }
  h1 a:hover {
    text-decoration: none;
  }
  nav {
    font-family: var(--font-sans);
    margin-block-end: 1rem;
  }
  li {
    padding-inline-end: 1rem;
  }
</style>
