---
import SiteMetadata from '@data/metadata.json';
---
<nav>
    <menu>
        {SiteMetadata.navMenu.map((menuItem) => {
            return (
                <li><a href={menuItem.url}>{menuItem.title}</a></li>
            )
        })}
    </menu>
</nav>

<style>
    nav {
        margin-bottom: 1rem;
    }
    menu {
        margin-inline-start: 0;
        padding-inline-start: 0;
    }
    li {
        display: inline;
        padding-right: 1rem;
    }
</style>