<dl>
{% if maxPosts %}
    {% set numPosts = collections.articles | length | min(maxPosts) %}
    {% set articleslist = collections.articles | reverse | head(numPosts)%}
{% else %}
    {% set articleslist = collections.articles | reverse %}
{% endif %}
{%- for article in articleslist %}
    <dt><a href="{{ article.url }}">{{ article.data.title }}</a></dt>
    <dd>{{ article.data.description }}</dd>
{%- endfor %}
</dl>