<dl>
{% if maxPosts %}
    {% set numPosts = collections.links | length | min(maxPosts) %}
    {% set linkslist = collections.links | reverse | head(numPosts) %}
{% else %}
    {% set linkslist = collections.links | reverse %}
{% endif %}
{%- for link in linkslist %}
    <dt><a href="{{ link.url }}">{{ link.data.title }}</a></dt>
    <dd>
        {% if "livestream" in link.data.tags %}
            <small class="collectiontag">livestream</small>
        {% elseif "podcast" in link.data.tags %}
            <small class="collectiontag">podcast</small>
        {% endif %}
        {{ link.data.description }}
    </dd>
{%- endfor %}
</dl>