<dl>
{% if maxPosts %}
    {% set numPosts = collections.reviews | length | min(maxPosts) %}
    {% set reviewslist = collections.reviews | reverse | head(numPosts) %}
{% else %}
    {% set reviewslist = collections.reviews | reverse %}
{% endif %}
{%- for review in reviewslist %}
    <dt><a href="{{ review.url }}">{{ review.data.title }}</a></dt>
    <dd>
        {% if "movie" in review.data.tags %}
            <small class="collectiontag">movie</small>
        {% elseif "music" in review.data.tags %}
            <small class="collectiontag">music</small>
        {% elseif "show" in review.data.tags %}
            <small class="collectiontag">show</small>
        {% endif %}
        {{ review.data.description }}
    </dd>
{%- endfor %}
</dl>