---
layout: layouts/base.njk
maxPosts: 5
---

<section>
    {{ content | safe }}
</section>

<section>
    <h2><a href="/articles">Articles</a></h2>
    {%- include "components/articleslist.njk" %}
</section>

<section>
    <h2>Contributions</h2>
    <ul>
    {%- for contribution in contributions %}
        <li><a href="{{ contribution.url }}">{{ contribution.title }}</a></li>
    {%- endfor %}
    </ul>
</section>