---
layout: layouts/base.njk
---

<h1><a href="{{ href }}">{{ title }}</a></h1>

<details>
	<summary>Metadata</summary>
	<ul>
		<li>Published: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time></li>
		<li>Description: {{ description }}</li>
		<li>Tags: {{ tags | reject("equalto", "links") | sort | join(", ") }}</li>
		{%- if posse %}
			{%- include "components/posse.njk" %}
		{%- endif %}
	</ul>
</details>

<article>
	{{ content | safe }}
</article>
