---
import '@styles/reset.css';
import '@fontsource-variable/public-sans';
import '@fontsource-variable/source-code-pro';
import '@fontsource-variable/source-serif-4';
import '@styles/style.css';
import HeadBase from '@components/head/base.astro';
import HeadPage from '@components/head/page.astro';
import Heading from '@components/heading.astro';
import Footer from '@components/footer.astro';

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<HeadBase title={title} description={description} />
		<slot name="post-head">
			<HeadPage />
		</slot>
	</head>
	<body>
		<Heading />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
