---
type CalloutLevel = 'info' | 'warn' | 'error';

interface Props {
    level: CalloutLevel
    label?: string
}

const { level, label } = Astro.props;

const calloutLabels: Record<CalloutLevel, string> = {
    info: 'ⓘ Info',
    warn: '⚠ Warning',
    error: '! Error'
};

const calloutLabel = label ?? calloutLabels[level];
---
<div class={`callout callout-${level}`}>
    <div class={`callout-label`}>{calloutLabel}</div>
    <div class="callout-content"><slot /></div>
</div>

<style>
    .callout {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        border-left: 0.2rem solid;
    }
    .callout-info {
        border-left: 0.2rem solid light-dark(#086ddd, #398ae3);
    }
    .callout-info > .callout-label {
        color: light-dark(#086ddd, #398ae3);
        font-weight: 700;
    }
    .callout-warn {
        border-left: 0.2rem solid light-dark(#ec7500, #f19e4c);
    }
    .callout-warn > .callout-label {
        color: light-dark(#ec7500, #f19e4c);
        font-weight: 700;
    }
    .callout-error {
        border-left: 0.2rem solid light-dark(#e93147, #ef6e7e);
    }
    .callout-error > .callout-label {
        color: light-dark(#e93147, #ef6e7e);
        font-weight: 700;
    }
</style>