---
type CalloutLevel = 'info' | 'warn' | 'error';

interface Props {
  level: CalloutLevel;
  label?: string;
}

const { level, label } = Astro.props;

const calloutLabels: Record<CalloutLevel, string> = {
  info: 'ⓘ Info',
  warn: '⚠ Warning',
  error: '! Error',
};

const calloutLabel = label ?? calloutLabels[level];
---

<div class={`callout callout-${level}`}>
  <div class={`callout-label`}>{calloutLabel}</div>
  <div class="callout-content"><slot /></div>
</div>

<style>
  .callout {
    margin-block-end: 1rem;
    padding-inline-start: 0.5rem;
    border-inline-start: 0.2rem solid;
  }
  .callout-info {
    border-inline-start: 0.2rem solid var(--color-info);
  }
  .callout-info > .callout-label {
    color: var(--color-info);
    font-weight: 700;
  }
  .callout-warn {
    border-inline-start: 0.2rem solid var(--color-warn);
  }
  .callout-warn > .callout-label {
    color: var(--color-warn);
    font-weight: 700;
  }
  .callout-error {
    border-inline-start: 0.2rem solid var(--color-error);
  }
  .callout-error > .callout-label {
    color: var(--color-error);
    font-weight: 700;
  }
</style>
