---
type CalloutLevel = 'info' | 'warn' | 'error';

interface Props {
    level: CalloutLevel
    label?: string
}

const { level, label } = Astro.props;

let calloutLabel = label;
if (label == null) {
    switch(level) {
        case 'info':
            calloutLabel = 'ⓘ Info';
            break;
        case 'warn':
            calloutLabel = '⚠ Warning';
            break;
        case 'error':
            calloutLabel = '! Error';
            break;
    }
};
---
<div class={`callout callout-${level}`}>
    <div class={`callout-label`}>{calloutLabel}</div>
    <div class="callout-content"><slot /></div>
</div>

<style>
    .callout {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        border-left: 0.2rem solid;
    }
    .callout-info {
        border-left: 0.2rem solid #086ddd;
    }
    .callout-info > .callout-label {
        color: #086ddd;
        font-weight: 700;
    }
    .callout-warn {
        border-left: 0.2rem solid #ec7500;
    }
    .callout-warn > .callout-label {
        color: #ec7500;
        font-weight: 700;
    }
    .callout-error {
        border-left: 0.2rem solid #e93147;
    }
    .callout-error > .callout-label {
        color: #e93147;
        font-weight: 700;
    }
</style>