---
import Base from '@layouts/base.astro';
import ContentList from '@components/ui/contentlist.astro';
---

<Base
  title="Podcasts"
  description="Weekly podcast episodes covering capital markets, Bitcoin, economic policy, and geopolitical events. Join Cameron Otsuka in his podcast appearances."
>
  <h2>Podcasts</h2>
  <ContentList collection="podcasts" />
</Base>
